<div [ngSwitch]="alert">
	<div *ngSwitchCase="'success'">success</div>
	<div *ngSwitchCase="'info'">info</div>
	<div *ngSwitchCase="'warning'">warning</div>
	<div *ngSwitchDefault>danger</div>
</div>

<button (click)="alert='success'" class="btn btn-success">Change to success</button><br><br>
<button (click)="alert='info'" class="btn btn-info">Change to info</button><br><br>
<button (click)="alert='warning'" class="btn btn-warning">Change to warning</button><br><br>
<button (click)="alert=null" class="btn btn-danger">Change to Danger</button><br><br>

<div [ngSwitch]="alert">
	<div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
	  A simple success alert—check it out!
	</div>
	<div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
	  A simple info alert—check it out!
	</div>
	<div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
	  A simple warning alert—check it out!
	</div>
	<div *ngSwitchDefault class="alert alert-danger" role="alert">
	  A simple danger alert—check it out!
	</div>
</div>