<h1>Buscando: <small>{{ searchTerm }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="searchHeros.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino: {{ searchTerm }}
    </div>
  </div>
</div>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let hero of searchHeros; let i = index" >
      <img class="card-img-top" [src]="hero.img" [alt]="hero.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ hero.nombre }}</h5>
        <p class="card-text">{{ hero.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ hero.aparicion | date:'y' }}</small></p>

        <button (click)="viewHero(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        <!-- <a [routerLink]="['/hero', i]" class="btn btn-outline-primary">Ver mas link...</a> -->
      </div>
    </div>
</div>